@font-face {
  font-family: 'ITC Bauhaus';
  src: url('../fonts/bauhaus/BauhausRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Bauhaus';
  src: url('../fonts/bauhaus/BauhausBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Bauhaus';
  src: url('../fonts/bauhaus/BauhausItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Bauhaus';
  src: url('../fonts/bauhaus/BauhausBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}