#-------------------------
# Environment Files
#-------------------------
.env
#-------------------------
# Composer
#-------------------------
vendor/
#-------------------------
# Temporary Files
#-------------------------

storage/*.key
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*

#-------------------------
# IDE / Development Files
#-------------------------
**/nbproject/